.background {
    background-image: url("../src/Images/invt.JPG");
    padding-bottom: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgrounddd {
  background-image: url("../src/Images/drug.jpeg");
  padding-bottom: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backgroundpay{
  background-image: url("../src/images/fnl.png");
  padding-bottom: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backgroundre{
  background-image: url("../src/images/Reco.jpg");
  padding-bottom: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
